<!DOCTYPE html>
<html lang="en">
<head>
    <%- partial('_part/head') %>
</head>

<body>
<div class="w3-row">

    <%- partial('_part/nav') %>
    <%- partial('_part/author') %>

</div>


</body>

</html>

