<!DOCTYPE html>
<html lang="en">
<head>
    <%- partial('_part/head') %>
</head>

<body>
<div class="w3-row">
    <div class="w3-col m4 l3 w3-container w3-hide-small w3-collapse" id="navFrame">
        <%- partial('_part/nav') %>
        <%- partial('_part/author') %>
    </div>


</div>


<%- partial('_part/copyleft') %>

</body>

</html>

