

<article class="w3-card-16 w3-margin-card w3-display-container w3-margin-card">
    <header class="w3-container w3-theme-d3">
        <h3><%- page.title || item.link%></h3>
        <h6><%= page.date.format(config.date_format) %></h6>
    </header>
    <div class="w3-container">
        <p><%- page.content %></p>

        <p>

        </p>
    </div>
    <div class="w3-container w3-theme-l1 w3-padding-12">

        <button class="w3-btn w3-round-xxlarge w3-theme-d5 " onclick="window.history.back()">Back</button>

    </div>

</article>