<div class="w3-card-12 w3-margin-card ">

    <div class="w3-container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Angrymice.png/226px-Angrymice.png"
             class="w3-hover-sepia" style="width:128px;height:128px;" alt="Norway">
    </div>

    <header class="w3-container w3-theme-d3">
        <h3><%= config.title %></h3>
    </header>
    <div class="w3-container w3-theme-l1">
        <h6>
            <% if (config.subtitle){ %>
            <%= config.subtitle %>
            <% } %>
        </h6>
    </div>
</div>
