<div class="w3-row">
    <div class="w3-rest w3-container ">
        <footer class="w3-card-8 w3-margin-footer w3-theme-d3">Ross Higa is lit 2017. Created using <a
                    href="http://www.w3schools.com/w3css/">W3.CSS</a>, <a href="https://hexo.io/">Hexo</a>, and <a
                    href="https://nodejs.org/en/">Node.js</a></footer>
    </div>
</div>