
    <div class="w3-col m4 l4">
        <div class="w3-card-8 w3-margin-card w3-display-container w3-animate-bottom w3-hover-sepia">
            <header class="w3-container w3-theme-d3">
                <h3><%- item.title %></h3>
            </header>

            <% if(item.excerpt) { %>
            <div class="w3-container">
                <%- item.excerpt %>
            </div>
            <% } %>
            <div class="w3-container">
                <a href="<%- config.root %><%- item.path %>">Read more</a>
            </div>
        </div>
    </div>
