<a href="<%- config.root; %> <%- item.path; %>">
    <div class="w3-col m4 l4">
        <div class="w3-card-8 w3-margin-card w3-display-container w3-animate-bottom w3-hover-sepia">
            <header class="w3-container w3-theme-d3">
                <h3><%- item.title; %></h3>
            </header>
            <div class="w3-container">
                <%- item.excerpt || item.content; %> ...
            </div>

        </div>
    </div>
</a>