
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Ross Higa">
    <!-- W3.CSS is an open source modern CSS framework http://www.w3schools.com/w3css/-->
    <link rel="stylesheet" href="https://cdn.rosshi.ga/w3securemirror/lib/w3.css">
    <link rel="stylesheet" href="https://cdn.rosshi.ga/w3securemirror/lib/w3-theme-green.css">
    <title>w3card-blog</title>

    <%- css('assets/blog.css') %>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <%- js('assets/blog.js') %>